server:
  # The address to bind badaas to.
  host: "" # listening on all interfaces

  # The port badaas should use.
  port: 8000

  # The maximum timout for read/write ops.
  timeout: 15 # in seconds

  pagination:
    page:
    # The maximum number of record per page 
      max: 50

# The settings for the database.
database:
  # The host of the database server.
  host: e2e-db-1

  # The port of the database server.
  port: 26257

  # The sslmode of the connection to the database server.
  sslmode: disable

  # The username of the account on the database server
  username: root

  # The password of the account on the database server
  password: postres
  
  # The settings for the initialization of the database
  init:

    # Number of time badaas will try to establish a connection to the database
    retry: 10

    # Waiting time between connection
    retryTime: 5

logger:
  mode: prod
  request:
    template: "Receive {{method}} request on {{url}}"