go 1.22

use (
	.
	./cql-gen
	./cql-gen/tests
	./cqllint
	./cqllint/pkg/analyzer/testdata
	./cqllint/pkg/analyzer/testdata/src/appearance
	./cqllint/pkg/analyzer/testdata/src/not_concerned
	./cqllint/pkg/analyzer/testdata/src/repeated
)
