# DEVELOPMENT ONLY, DO NOT USE FOR PRODUCTION
services:
  db:
    container_name: "cql-test-db"
    build: .
    image: cql/mssqlserver:latest
    ports:
      - "5001:1433"
    environment:
      MSSQL_SA_PASSWORD: "cql2023!"
      ACCEPT_EULA: "Y"
      MSSQL_DB: cql_db
      MSSQL_USER: cql
      MSSQL_PASSWORD: cql_password2023